@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');




a {
    text-decoration: none;
}

:root{
    --btn-color:#3CB371;
    --main-font:'Basic';
    --bg:#212121
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

.header {
    background: var(--bg);
    background-color: rgba(33, 33, 33, 0.47);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 4.5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
    font-size: 2rem;
}



#menu-btn{
    display: none;
}


.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(../assets/section1/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}


.btn { 
    font-family: var(--main-font);
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3.0rem;
    font-size: 2rem;
    color: #fff;
    background: var(--btn-color);
    cursor: pointer;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;                                             
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content p{  
    width: 45rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 1.9rem;
    font-size: 2rem;
    color: #fff;
}


.first-title{
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 2.7rem;
    font-size: 5rem;
    width: 60rem;
    font-weight: normal;
}

.second-title{
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: normal;
}




h3{
    color: #fff;
}
.content .btn{
    justify-content: center;
    padding: 2rem;
    align-items: center;
    max-width: 17.7rem;
}

.work{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(../assets/section2/background2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.card1 {
    color: #fff;
    padding: 1rem;
    width: 45rem;
    height: 48.5rem;
    background-color: rgba(33, 33, 33, 0.47);
    border-radius: 30px;
    margin-top: 10rem;
    margin-right: 10rem;
    margin-left: auto;
}

.card1 p{
    font-size: 2rem;
}

.card1 h3{
    font-size: 3rem;
}

.card1 .btn{
    width: 16rem;
    height: auto;
    padding: 2rem;
}


.voluntary{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:url(../assets/section3/background3.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.cardexample{
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 6rem;
}

.resources .figpeople{
    margin-right: auto;
    margin-left: 6rem;
}

.voluntarys{
    justify-content: center;
    align-items:center;
    display: flex;
    gap: 2.2rem;
    margin-right: auto;
    margin-left: 3rem;
    height: auto;
}

.voluntarys p{
    max-width: 14rem;
    width: 100%;
    justify-content: center;
    align-items:center;
    font-size: 3rem;
}
.voluntarys .voluntary2{
    max-width: 14rem;
}
.voluntarys img{
    max-width: 14rem;
    width: 100%;
    justify-content: center;
    align-items:center;
}

.resources{
    display: flex;
}

.achiviements {
    color: black;
    max-width: 56rem;
    align-items: center;
    justify-content:space-around;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.achiviements h3{
    margin: auto;
    color: black;
    font-weight: normal;
    font-size: 6rem;
}


.achiviements p{
    margin: auto;
    font-size: 4rem;
} 

.achiviements h3 p{
    align-items: center;
    justify-content:center
}

.footer{
    align-items: center;
    background-color: #212121;
    height: auto;
    color: #fff;
}

.footerlogo{
    font-size: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.credit{
    gap: 1rem;
    display: flex;
    justify-content: center;  
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.links{
    height: auto;
    display: flex;
    flex-direction: column;
}


.links a{
    color: #fff;
    font-size: 2rem;
    display: flex;

}
.links p{
    padding: auto;
    font-size: 4rem;
  
}

.contentlinks p {
    margin: 0; 
}

.contact{
    height: auto;
}

.contact img{
    padding-right: 1rem;
}

.emailicon-adress{
    display: flex;
    align-items: center;
}

.location-adress{
    display: flex;
    align-items: center;
}

.location img{
    max-width: 3rem;
    height: auto;
}

.adress{
    max-width: 20rem;
    height: auto;
}

